*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
}

body {
  position: relative;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  height: 100vh;
  box-sizing: border-box;
}

h1 {
  margin-bottom: 2rem;
  letter-spacing: 2px;
  font-size: 3rem;
  color: #00917c;
}

.game-container {
  height: 30rem;
  width: 30rem;
  border: solid 1px #000;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  background-color: #a3d2ca;
}

.field {
  border: solid 1px #000;
  height: 10rem;
  width: 10rem;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.clicked {
  background-color: #00917c;
}

.symbol {
  font-size: 5rem;
}

.endgame-msg {
  position: absolute;
  left: 0%;
  top: 0%;
  color: #ddd;
  background-color: rgba(0, 0, 0, 0.9);
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 100%;
}

.endgame-text {
  font-size: 2rem;
  font-weight: 900;
  letter-spacing: 0.1rem;
  margin-bottom: 2rem;
}

.btn--restart {
  position: relative;
  padding: 2rem 3rem;
  border-radius: 5rem;
  color: #222;
  background-color: #ddd;
  letter-spacing: 0.1rem;
  cursor: pointer;
  z-index: 2;
}

.btn--restart::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transition: all 0.4s ease;
  background-color: #ddd;
  border-radius: 5rem;
  z-index: -1;
}

.btn--restart:hover::after {
  transform: scaleX(1.7) scaleY(1.5);
  opacity: 0;
}
